.left-sidebar
    .left-sidebar__wrap
        .text-center
            img.left-sidebar__user-photo.rounded.img-fluid(src="/img/user/user.png")
            span.left-sidebar__title
                | #{nameDeveloper}
            span.left-sidebar__descriptions.text-mutted
                | #{nameSite}
            a.left-sidebar__phone(href="tel:#{phone}")
                | #{phone}
            +listLinks([
                {
                    class: 'github',
                    link:  gitHubLink,
                    title: 'Профиль на гитхаб'
                },
                {
                    class: 'telegram',
                    link:  telegramLink,
                    title: 'Телеграмм'
                },
                {
                    class: 'vk',
                    link:  vkLink,
                    title: 'Вконтакте'
                }
            ])
            a(href="mailto:#{email}")
                | #{email}
