mixin nav(classMix, activeIndex, activeSub, items, subMenu)
    nav.navbar(class=((classMix) ? classMix + '__navbar' : ''))
        ul.nav.navbar-nav(class= ((classMix) ? classMix + '__nav' : ''))
            each item, idx in items
                li.nav-item(class=((activeIndex == idx) ? classMix + '__nav-item_active' : '')
                            class= ((classMix) ? classMix + '__nav-item' : ''))
                    a.nav-link(class= ((classMix) ? classMix + '__nav-link' : '') href=item.link)=item.name
                    if subMenu[idx]
                        ul.sub-nav
                            each it, index in subMenu[idx]
                                li.sub-nav__item(class=((activeSub == index) ? 'sub-nav__item_active' : ''))
                                    a.sub-nav__link(href='/location.html##{index}')=it

mixin submenu(activeItem, items)
    ul.sub-nav
        each it, index in items
            li.sub-nav__item(class=((activeItem == index) ? 'sub-nav__item_active' : ''))
                a.sub-nav__link(href='catalog.html##{index}')=it

mixin breadcrumb(items, customClass)
    nav.breadcrumb(class=customClass)
        i.icon-logo
        each item, key in items
            if(items.length - 1 !== key)
                a.breadcrumb-item(href=item.url)=item.name
            else
                span.breadcrumb-item.active=item.name

mixin listServices(items)
    ul.services__list
        each item in items
            li.services__item=item

mixin card(items)
    .card-deck-wrapper.group
        each item, idx in items
            .card-deck
                each it, id in item
                    case idx === 1 && id === 2
                        when true
                            .card.tile-list.action
                                .view.view-tenth
                                    img.img-fluid(src="/img/objects/6.jpg")
                                    .mask
                                        h2 Ваш проект
                                        p Заказать создание или разработку сайта очено просто. Просто заполните форму заказа или позвоните.
                                        a.info(href="#")
                                            | Заказать проект
                        when false
                            .card.tile-list
                                .tile-list__title-star
                                    h4.tile-list__title
                                        a.tile-list__link(href="/object.html")=it.title
                                .tile-list__link-img
                                    a(href="/object.html" title="#{it.title}" alt="#{it.title}")
                                        .contrast
                                            img.tile-list__img.img-fluid(data-original="/img/objects/" + it.img)
                                .card-block.tile-list__block
                                    .stat-info
                                        span.stat-info__loc=it.loc
                                        span.stat-info__wrap
                                            span.stat-info__photos
                                                i.icon-image
                                                | 5 фото
                                    p.tile-list__text=it.text
                                    a.card-link.tile-list__more-link(href="#")
                                        | Подробнее
                                    i.icon-right-arrow

mixin listLinks(items)
    ul.profile__list
        each item in items
            li.list__item
                a.list__link(class=item.class href=item.link title=item.title target="_blank")

