footer#footer.footer
    .footer__copyright.group
        hr
        .container
            .footer__copyright-inner
                | © #{createdDate} #{nameSite} #{' '}
                a(href="mailto:#{email}")
                    | #{email}
            .footer__links
                +listLinks([
                    {
                        class: 'github',
                        link: gitHubLink,
                        title: 'Профиль на гитхаб'
                    },
                    {
                        class: 'telegram',
                        link: telegramLink,
                        title: 'Телеграмм'
                    },
                    {
                        class: 'vk',
                        link: vkLink,
                        title: 'Вконтакте'
                    }
                ])

